
httpx
textual
textual-dev
mistletoe 

opentelemetry-api
opentelemetry-sdk 
opentelemetry-instrumentation-fastapi 
opentelemetry-exporter-otlp-proto-http 
grandalf
websockets


python-multipart
fastapi
uvicorn
pyjwt
py-bcrypt
sqlalchemy
pydantic
psycopg2-binary


SQLAlchemy

pandas
numpy


isort
pylint 
fastapi-cache2